<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ctsjamuse.mapper.StatusMapper">
    <select id="findstatus" resultType="com.example.ctsjamuse.entity.Clickcollect" parameterType="com.example.ctsjamuse.entity.Clickcollect">
        select * from clickcollect where userid=#{userid} and postid=#{postid}
    </select>
</mapper>
